@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-weight: 10%;
    background: rgba(255, 255, 255, 0);
}

.create{
    
    margin-bottom: -56px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background:url(../img/back-image_2.png);
    background-size: cover;
    background-position: center center;
}

.container{
    
    width: 70% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
    
    position: relative;
    z-index: 1000;
   
    max-width: 1000px;
   
    background: rgba(255, 255,255, 0.1);
    box-shadow: 0 25px 45px  rgba(0,0,0, 0.1);
    border: 1px solid  rgba(255, 255,255,0.25);
    border-right: 1px solid rgba(255, 255,255, 0.1);
    border-bottom:1px solid rgba(255, 255,255, 0.1) ;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
}
.container::before{
    contain: '';
    position:absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background:  rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container h2{
    width: 100%;
    
    color: rgb(100, 74, 89);
    font-size: 36px;
    margin-bottom: 20px;

}
.container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(out-fit,minmax(250px,1fr));
}
.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
    
}
.container .wrapper{
    position: relative;
    height: 320px;
    width: 60%;
    margin: auto;
   
    border-radius: 10px;
    background: rgba(102, 77, 98, 0.152);
    display: flex;
    align-items: center;
    justify-content: center ;
    overflow: hidden;
}
.wrapper.active{
    border: none;
}
.wrapper .image{
    position: absolute;
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

.wrapper .icon{
    font-size: 100px;
    color: rgba(88, 65, 78, 0.784);
}
.wrapper .text{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color:rgba(88, 65, 78, 0.784);

}
.wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 10px;
    cursor: pointer;
    color: rgb(100, 74, 89);
    display: none;
}
.wrapper.active:hover #cancel-btn{
    display: block;
}
.wrapper #cancel-btn:hover{
    color: #fff;

}
.wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    background: linear-gradient(135deg,#7b5965 0%,#4a2936 100%);
    display: none;
}
.wrapper.active:hover .file-name{
    display: block;
}
.container #custom-btn{
    margin-top: 10px;
    width: 35%;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    background: linear-gradient(302deg, rgba(75,28,64,1) 0%, rgba(120,91,109,1) 56%);
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}


.btn1{
    margin-top: -90px;
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    
  }
.container input{
    position: relative;
   
    width: 100%;
    height: 40px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom:-15px ;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(144, 137, 137);
}
input:is(:focus, :valid){
    border-width: 1px;
    padding: 14px;
    border-color: rgb(144, 137, 137);
}
.container textarea{
    position: relative;
   
    width: 100%;
    min-height: 130px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 15px;
    margin-top: -30px;
    margin-bottom: -47px;
    border-radius: 3px;
    border-color: rgb(144, 137, 137);

}
textarea:is(:focus, :valid){
    border-width: 1px;
    padding: 14px;
    border-color: rgb(144, 137, 137);
}
textarea::-webkit-scrollbar{
    width: 0px;
   
}





.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.gradient-custom-2 {
    background: rgb(0,0,0);
    background:   linear-gradient(302deg, rgba(75,28,64,1) 0%, rgba(120,91,109,1) 56%);
}
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
   
    }
    
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}
@media  (min-width: 480px){
    .btn1{
        margin-bottom:50px ;
    }

}


.icon-back{
    margin-top: -80px;
    border: none;
    outline: none;
    
    font-weight: bold;
  
    margin-bottom: -54px;
    font-size: 20px;
}

.icon-back a {

color: white;
text-decoration: none;
}

.icon-back a:hover {
color: white;
text-decoration: none;
}
.container .form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    
    line-height: 1.5;
    color: #212529;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(144, 137, 137);
    position: relative;
   
   
    height: 48px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 13px;
    margin-top: -35px;
    margin-bottom:-15px ;
    
}