@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
}

header {
    border-bottom: 1px solid #ededed;
    margin-top: 1em;
}

.logo span {
    font-size: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

.c-slider-btn-div {
    position: relative;
}

.slider-item-img {
    margin-right: 1em;
}

.slider-item-img img {
    width: 350px;
    border-radius: 10px;
}

.slider-author-img img {
    width: 50px;
}

.slider-item-content span {
    margin-bottom: 1em;
}

.slider-item-content h1 {
    margin-bottom: 0.5em;
}

.slider-item-content p {
    margin-bottom: 1em;
}

.slider-author-name {
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.slider {
    margin-top: 5em;
}

.slider-item {
    margin-bottom: 2em;
}

.slider-title {
    margin-bottom: 2em;
}

footer {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
}