@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
  }
  
  h1 {
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
  }
  
  h4 {
    color: #505050;
    font-size: 18px;
    line-height: 28px;
  }
  
  p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;
  }

body {
    font-family: 'Poppins', sans-serif; 
}

header {
    border-bottom: 1px solid #ededed;
    padding-top: 1em;
    /*background-color: #CCBCC8;*/
    background-color: rgba(131, 99, 120, 0.836) ;
}
.logo {
    padding-bottom: 10px;
   
}
.logo span {
    font-size: 30px;
    padding-bottom: 1em;
}
header img, svg {
    
        vertical-align: middle;
        width: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding-top: 0.5em;
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: rgb(255, 254, 254);

}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

.c-slider-btn-div {
    position: relative;
}

.slider-item-img {
    margin-right: 1em;
}

.slider-item-img img {
    width: 350px;
    border-radius: 10px;
}

.slider-author-img img {
    width: 50px;
}

.slider-item-content span {
    margin-bottom: 1em;
}

.slider-item-content h1 {
    margin-bottom: 0.5em;
}

.slider-item-content p {
    margin-bottom: 1em;
}

.slider-author-name {
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.slider {
    margin-top: 5em;
}

.slider-item {
    margin-bottom: 2em;
}

.slider-title {
    margin-bottom: 2em;
}


.c-container {
    width: 70%;
    margin: auto;
}