@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

body::-webkit-scrollbar {
    display: none;
}


header {
    border-bottom: 1px solid #ededed;
    padding-top: 1em;
    /*background-color: #CCBCC8;*/
    background-color: rgba(131, 99, 120, 0.836) ;
}

main {
    margin-top: 7em;
}
.logo {
    padding-bottom: 10px;
   
}
.logo span {
    font-size: 30px;
    padding-bottom: 1em;
}
header img, svg {
    
        vertical-align: middle;
        width: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: rgb(255, 254, 254);

}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

input[type="text"], input[type="email"], input[type="date"], input[type="file"], input[type="password"], textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0.5em;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="file"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
}

#about-text {
    resize: none;
    height: 10em;
}

.form-field {
    margin-bottom: 2em;
}

.form-field label {
    font-size: 15px;
    margin-bottom: 0.5em;
}

.form-field img {
    width: 250px;
}

input[type="submit"] {
    border: none;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.c-btn {
    width: 88px;
    background-color: #e33f58;
    margin-top: 1em;
}
.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 0.75em;
}

.sidebar ul li:hover {
    text-shadow: 1px 1px #e33f58;
    text-decoration: underline;
    cursor: pointer;
}

.hhh {
    height: 100vh;
}

#b1 {
    margin-bottom: 2em;
}