@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}
  

.slider h1{
    margin-top: 70px;
    font-size: 40px;
    font-weight: 200;
    line-height: 50px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 0;
}
  
h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
}
  
h4 {
    color: #505050;
    font-size: 18px;
    line-height: 28px;
}
  
p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0.5px;
}
  

body {
    font-family: 'Poppins', sans-serif; 
}

header {
    border-bottom: 1px solid #ededed;
   
    padding-top: 1em;
    /*background-color: #CCBCC8;*/
    background-color: rgba(131, 99, 120, 0.836) ;
}
.logo {
    padding-bottom: 10px;
   
}
.logo span {
    font-size: 30px;
    padding-bottom: 1em;
}
header img, svg {
    
        vertical-align: middle;
        width: 40px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: rgb(255, 254, 254);
}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

.post-slider {
    margin-top: 118px;
}

.trending-title h1 {
    font-weight: bolder;
    margin-bottom: 2em;
   
}
.slider-author-name span a {
    text-decoration: none;
    color: black;
}

.slider-author-name span a:hover {
    text-decoration: underline;
    color: black;
}

.post-author-name span a {
    text-decoration: none;
    color: black;
}

.post-author-name span a:hover {
    text-decoration: underline;
    color: black;
}
.slider-item-img {
    margin-right: 1em;
}

.slider-item-img img {
    width: 350px;
    border-radius: 10px;
}

.slider-author-img img {
    width: 50px;
}

.slider-item-content span {
    margin-bottom: 1em;
}

.slider-item-content h1 {
    margin-bottom: 0.5em;
}

.slider-item-content p {
    margin-bottom: 1em;
}

.slider-author-name {
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.slider button {
    background-color: black;
}

.posts {
    margin-top: 5em;
}
.post-title {
    text-decoration: none;
    color: #000;
}

.post-title:hover {
    text-decoration: underline;
    color: #000;
}

.post-item-img img {
    width: 100%;
    border-radius: 10px;
}

.post-item-content span {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-item-content h6 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.post-author-img img {
    width: 50px;
}

.post-author-name {
    margin-top: 0.75em;
    margin-left: 0.5em;
}

.post-item {
    margin-bottom: 2em;
}

.c-slider-btn-div {
    position: relative;
    margin-top: 2em;
}
/*--------------------------------footer-------------------------------*/



.section-btn {
    margin: 30px 0 0 0;
    padding: 0;
}
  
.section-btn a,
.section-btn button {
    line-height: 45px;
    border: none;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 20px;
}
  
  


/*---------------------------------------
  FOOTER              
-----------------------------------------*/

footer {
    padding-top: 120px;
    padding-bottom: 120px;
    height: 50%;
    width: 100%;
    position:relative;
    bottom: 0;
    background: linear-gradient(302deg, rgb(163, 159, 162) 0%, rgb(221, 219, 220) 73%);
    
    
   
    font-size: 13px;
    line-height: 20px;
  }
  
  footer h4 {
    padding-top: 12px;
  }
  
  footer a {
    color: #757575;
  }
  
  footer .copyright-text {
    padding-top: 42px;
    margin-bottom: -90px;
    text-align: center;
  }
  
  
  /*---------------------------------------
    SOCIAL ICON             
  -----------------------------------------*/
  
  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .social-icon li {
    display: inline-block;
    list-style: none;
  }
  
  .social-icon li a {
    border-radius: 100%;
    color: #292929;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    text-align: center;
    position: relative;
    margin: 4px 8px 0 8px;
  }
  
  .social-icon li a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }


@media(max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
       
       
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    .col-md-9 .input-container{
        
        justify-content: center;
    }
    .modal-content .box{
        height:70%;
    }
}

/*-----------------popup---------------*/
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    margin-top: -18px;
}

.row .contact {
    width: 100%;
    
}
.modal-content{
    color: rgb(255, 250, 250);
}
.modal-header .cancel{
   
    color: white;
}
.contact .col{
    background:rgba(0, 0, 0, 0.89); ;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.750);
	border-radius:3px;
	padding: 18px 18px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.input-container textarea{ 
    border:0;
    border-bottom:1px solid rgb(120, 117, 117);  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(255, 255, 255);
    margin-top: 15px;
}
.input-container textarea:focus{ 
   border:none;	
   outline:none;
   border-bottom:1px solid #e74c3c;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label,
.input-container textarea:focus ~ label,
.input-container textarea:valid ~ label{
	top:-12px;
	font-size:12px;
	
}