@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.body{
  background-color: rgb(219,226,226) ;
  height: 100vh;
   
}
.gradient-custom-2 {
    background: rgb(0,0,0);
    background:  linear-gradient(203deg, rgba(0,0,0,1) 66%, rgba(226,62,87,1) 100%);
  }
    
@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    
 }
 @media  (max-width: 1024px){
    .feature-img{
        display: none;
    }
}

header nav{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(84, 52, 76, 0.621) ;
    position: fixed;
    padding-top: 15px;
    
}
header{
    height: 100vh;
    background: url("/img/back-image_2.png");
    background-size: cover;
    background-position: center center;
   
   
    
    
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header .logo span {
    font-size: 35px;
}
header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    padding: 0.5em;
    font-size: 18px;
}
header a {
   
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header a:hover {
    text-shadow: 1px 1px #7b5768bb;
    color: rgb(255, 255, 255);
}

/*.container{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("/img/back-image.png");
}*/
.btn1{
    margin-top: 6px;
    border: none;
    outline: none;
    height: 50px;
    width: 180px;
    font-weight: bold;
    color: white;
    border-radius: 27px;
    transition: 0.5s;

}
.msg-container{
    width: 600px;
    height: 280px;
    position: absolute;
    left: 10%;
    top: 57%;
    transform: translateY(-50%);
    overflow: hidden;
}
#slider{
    display: inline-flex;
    transition: 0.5s;
}
.msg-col{
    width: 600px;
    height: 280px;
    
}

.msg-col h1{
    font-size: 50px;
    font-weight: 100;
    margin: 15px 0;
    color: #222;

}
.msg-col p{
    
    color: #333;
    font-size: 15px;
    line-height: 22px;
}



.feature-img{
    width: 420px;
    position: absolute;
    bottom: 0;
    right: 10%;
    transition: 5s;
    

}

.controller{
    width: 1px;
    height: 100px;
    display: block;
    background: rgb(160, 198, 180); 
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
}
#line1,#line2{
    height: 50px;
    width: 4px;
    cursor: pointer;
    transform: translateX(-50%);
    
    
}
#active{
    width: 5px;
    height: 50px;
    border-radius: 10px;
    background: rgb(14,96,58);
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;


}

.post-slider {
    margin-top: 3em;
}

.trending-title h1 {
    font-weight: bolder;
    margin-bottom: 2em;
}

.slider-item-img {
    margin-right: 1em;
}

.slider-item-img img {
    width: 350px;
    border-radius: 10px;
}

.slider-author-img img {
    width: 50px;
}

.slider-item-content span {
    margin-bottom: 1em;
}

.slider-item-content h1 {
    margin-bottom: 0.5em;
}

.slider-item-content p {
    margin-bottom: 1em;
}

.slider-author-name {
    margin-top: 0.8em;
    margin-left: 0.5em;
}

.slider button {
    background-color: black;
}
footer {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em;
    color: aliceblue;
    background-color: rgba(84, 52, 76, 0.621)  ;
}

.c-slider-btn-div {
    position: relative!important;
    margin-top: 2em;
}