@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.body{
  background-color: rgb(7, 7, 7) ;
  height: 1200vh;
  
}
.gradient-custom-2 {
  background: rgb(0,0,0);
  background: linear-gradient(203deg, rgba(0,0,0,1) 66%, rgba(226,62,87,1) 100%);
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(141, 180, 162);
}
.row{
 
  background: white;
  border-radius: 15px;
}
.container{
  width: 20%;
}

  
@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
}
.form-check {
  display: block;
  min-height: 0.5rem;
  padding-left: 0.5em;
  margin-bottom: -1rem;
  margin-top: 1.10rem;
}
.btn1{
  margin-top: 6px;
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  font-weight: bold;
  color: white;
  border-radius: 27px;
  
}
.social{
  margin-top: 10px;
  margin-bottom: 10px;
}
.Form .mt-1 {
  margin-top: 5.25rem!important;
}
.Form .mb-5 {
  margin-bottom: 1rem!important;
}
.icon{
  margin-top: 43px;
}

.boxes input{
  border-width: 0 0 2px;
  border-color: black;  
  border-radius: 0;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 8px;
  
}
.form-row .img-fluid {
  max-width: 100%;
  height: 400px;
}
.fa {
    
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.6;
  }
 
