@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.body{
  background-color: rgb(7, 7, 7) ;
  height: 1200vh;
  
}
.gradient-custom-2 {
  background: rgb(75,28,64);
  background: linear-gradient(302deg, rgba(75,28,64,1) 0%, rgba(120,91,109,1) 56%);
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(141, 180, 162);
}
.row{
 
  background: white;
  border-radius: 15px;
}
.container{
  width: 20%;
}


@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
}
.form-check {
  display: block;
  min-height: 0.5rem;
  padding-left: 0.5em;
  margin-bottom: -1rem;
  margin-top: 1.10rem;
}
.btn1{
  margin-top: 6px;
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  font-weight: bold;
  color: white;
  border-radius: 27px;
  
}
.social{
  margin-top: 10px;
  margin-bottom: 10px;
}
.Form .mt-1 {
  margin-top: 5.25rem!important;
}
.Form .mb-5 {
  margin-bottom: 1rem!important;
}
.icon{
  margin-top: 43px;
}

.boxes input{
  
    border-width: 0 0 2px;
    border-color: black;
    border-radius: 0;
    padding-top: 16px;
    padding-bottom: 17px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 8px;
  
}
.form-row .img-fluid {
  max-width: 100%;
  height: 400px;
}
.fa {
    
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.6;
  }
 
  .section-btn {
    margin: 30px 0 0 0;
    padding: 0;
}
  
.section-btn a {
    border: none;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 1em;
}
.section-btn button {
    line-height: 45px;
    border: none;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}

.col-lg-6.icon-back{
  margin-top: -80px;
  border: none;
  outline: none;
  
  font-weight: bold;

  margin-bottom: -54px;
  font-size: 20px;
}

.col-lg-6 .icon-back a {

color: white;
text-decoration: none;
}

.icon-back a:hover {
color: white;
text-decoration: none;
}