@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

.btn1 {
    background: rgb(0,0,0);
    background: linear-gradient(302deg, rgba(75,28,64,1) 0%, rgba(120,91,109,1) 73%);
    border: none;
    outline: none;
    font-weight: bold;
    color: white;
    border-radius: 27px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

body {
    font-family: 'Poppins', sans-serif; 
}

.c-container {
    width: 55%;
    margin: auto;
}

header {
    border-bottom: 1px solid #ededed;
    padding-top: 1em;
    background-color: rgba(131, 99, 120, 0.836) ;
}
.logo {
    padding-bottom: 10px;
   
}
.logo span {
    font-size: 30px;
    padding-bottom: 1em;
}
header img, svg {
    
        vertical-align: middle;
        width: 40px;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

.slider-author-img img {
    width: 50px;
}

.slider-author-name {
    margin-top: 0.2em;
    margin-left: 0.5em;
    font-size: 25px;
}


.comment-textarea{
    height: 5.5em;
    width: 100%;
    resize: none;
    padding: 0.5em;
}

.author-comment-img {
    width: 50px;
}

.author-comment-name {
    margin-top: 0.75em;
}

#title {
    margin-top: 11.5em;
}

.sub-heading {
    margin-top: 1em;
}

#post-img {
    margin-top: 5em;
}

#post {
    margin-top: 5em;
}

#comments {
    margin-top: 5em;
}

.display-comments {
    margin-top: 3em;
}

.single-comment {
    margin-bottom: 1em
}

.comment-author {
    margin-bottom: 1em;
}

.comment-author span {
    margin-left: 1em;
}

.edit-btn a {
    text-decoration: none;
    color: white;
}

.edit-btn a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.slider-author-name a {
    text-decoration: none;
    color: black;
}

.slider-author-name a:hover {
    text-decoration: underline;
    color: black;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em;
    color: aliceblue;
    background-color: rgba(84, 52, 76, 0.621)  ;
}