@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
}

header {
    border-bottom: 1px solid #ededed;
    padding-top: 1em;
    background-color: rgba(131, 99, 120, 0.836) ;
}
.logo {
    padding-bottom: 10px;
   
}
.logo span {
    font-size: 30px;
    padding-bottom: 1em;
}
header img, svg {
    
        vertical-align: middle;
        width: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    padding: 0.5em;
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a:hover {
    text-shadow: 1px 1px #e33f58;
    color: black;
}

.profile {
    margin-top: 8em;
}

.author-img img {
    width: 300px;
}

.author-info {
    margin-top: auto;
    margin-bottom: auto;
}

.author-name {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.author-email {
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.author-date {
    font-size: 15px;
    margin-bottom: 0.5em;
}

.author-about {
    font-size: 13px;
}

.posts {
    margin-top: 5em;
}

.post-item-img img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.post-title {
    text-decoration: none;
    color: #000;
}

.post-title:hover {
    text-decoration: underline;
    color: #000;
}

.post-item-content span {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-item-content h6 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5em;
}

.post-item {
    margin-bottom: 2em;
}

.posts-heading {
    text-align: center;
}

.posts-heading h1 {
    font-weight: bolder;
    margin-bottom: 3em;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em;
    color: aliceblue;
    background-color: rgba(84, 52, 76, 0.621)  ;
}
